@font-face {
  font-family: 'nisu Icons';  /* project id 750429 */
  src: url('//at.alicdn.com/t/font_750429_rfxvbkojxdn.eot');
  src: url('//at.alicdn.com/t/font_750429_rfxvbkojxdn.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_750429_rfxvbkojxdn.woff') format('woff'),
  url('//at.alicdn.com/t/font_750429_rfxvbkojxdn.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_750429_rfxvbkojxdn.svg#iconfont') format('svg');
}

.we-icon {
  direction: ltr;
  display: inline-block;
  font: normal normal normal $font-size/1 "nisu Icons";
  font-size: inherit;
  line-height: inherit;
  letter-spacing: normal;
  text-rendering: auto;
  text-transform: none;
  white-space: nowrap;
  overflow-wrap: normal;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &--right-arrow::before {
    content: "\e644";
  }
}